<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @guitar.serial %>
</p>

<p>
  <strong>Model:</strong>
  <%= @guitar.model %>
</p>

<p>
  <strong>Body wood:</strong>
  <%= @guitar.body_wood %>
</p>

<p>
  <strong>Neck wood:</strong>
  <%= @guitar.neck_wood %>
</p>

<p>
  <strong>Fingerboard:</strong>
  <%= @guitar.fingerboard %>
</p>

<p>
  <strong>Neck shape:</strong>
  <%= @guitar.neck_shape %>
</p>

<p>
  <strong>Scale length:</strong>
  <%= @guitar.scale_length %>
</p>

<p>
  <strong>Nut width:</strong>
  <%= @guitar.nut_width %>
</p>

<p>
  <strong>Nut material:</strong>
  <%= @guitar.nut_material %>
</p>

<p>
  <strong>Frets:</strong>
  <%= @guitar.frets %>
</p>

<p>
  <strong>Fret count:</strong>
  <%= @guitar.fret_count %>
</p>

<p>
  <strong>Inlays:</strong>
  <%= @guitar.inlays %>
</p>

<p>
  <strong>Inlay description:</strong>
  <%= @guitar.inlay_description %>
</p>

<p>
  <strong>Hardware:</strong>
  <%= @guitar.hardware %>
</p>

<p>
  <strong>Bridge:</strong>
  <%= @guitar.bridge %>
</p>

<p>
  <strong>Tuners:</strong>
  <%= @guitar.tuners %>
</p>

<p>
  <strong>Controls:</strong>
  <%= @guitar.controls %>
</p>

<p>
  <strong>Switch:</strong>
  <%= @guitar.switch %>
</p>

<p>
  <strong>Knobs:</strong>
  <%= @guitar.knobs %>
</p>

<p>
  <strong>Pickups:</strong>
  <%= @guitar.pickups %>
</p>

<p>
  <strong>Body finish:</strong>
  <%= @guitar.body_finish %>
</p>

<p>
  <strong>Neck finish:</strong>
  <%= @guitar.neck_finish %>
</p>

<p>
  <strong>Strings:</strong>
  <%= @guitar.strings %>
</p>

<p>
  <strong>Case:</strong>
  <%= @guitar.case %>
</p>

<%= link_to 'Edit', edit_guitar_path(@guitar) %> |
<%= link_to 'Back', guitars_path %>
